%table#availability_datatable.table.table-striped.table-bordered.table-condensed.display
	%thead
		%tr
			%th#host_ref= "Host Ref"
			%th#host_name= "Host Name"
			%th#host_address= "Host Address"
			%th#room_ref= "Room Ref"
			%th#guests_booked= "Guests Booked"
			%th#availability= "Availability"
	%tbody
		- @available_rooms.each do |room_details|
			- room = Room.find(room_details[0])
			%tr
				%td= room.host.id
				%td= room.host.name
				%td= room.host.address
				%td= "Room##{room.id}"
				%td= "#{room_details[1]} booked"
				%td= "#{room.capacity - room_details[1]} free out of #{room.capacity} total"
