%table#availability_datatable.table.table-striped.table-bordered.table-condensed.display
	%thead
		%tr
			%th#host_ref= "Host Ref"
			%th#host_name= "Host Name"
			%th#host_address= "Host Address"
			%th#availability_details= "Availability Details"
	%tbody
		- @available_rooms.each do |host_details|
			- room = Room.find(host_details.first.first)
			%tr
				%td= room.host.id
				%td= room.host.name
				%td= room.host.address
				%td
					- host_details.each do |room_details|
						- room = Room.find(room_details[0])
						= "Room##{room.id} is available (#{room_details[1]} booked, #{room.capacity - room_details[1]} free out of #{room.capacity} total)"
						%br
