= form_tag('availability/search', :remote => true, :class => 'form-search') do
	%fieldset
		%label= "Start Date"
		= text_field_tag :start_date, params[:start_date], :class => "datepicker"
		%label= "End Date"
		= text_field_tag :end_date, params[:end_date], :class => "datepicker"
		%label= "Number of Guests"
		= number_field_tag :guests
			
	
		%button.btn{:type => "submit"}
			= "Search"
		
%table#available_rooms.table.table-striped.table-bordered.table-condensed
	%thead
		%tr
			%th#host_ref= "Host Ref"
			%th#host_name= "Host Name"
			%th#host_address= "Host Address"
			%th#room_ref= "Room Ref"
			%th#guests_booked= "Guests Booked"
			%th#availability= "Availability"
